<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>
    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->
    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <!-- ng-cordova -->
    <script src="lib/ngCordova/dist/ng-cordova.js"></script>
    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>
    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
</head>

<body ng-app="starter">
    <ion-pane>
        <ion-content class="form" ng-controller="AppCtrl">
            <img src="img/logo.jpg" class="logo" alt="">
            <div ng-show="!showProgress">
                <form name="form" novalidate="">
                    <div class="list list-inset">
                        <label class="item item-input">
                            <input type="text" name="code" ng-model="code" placeholder="C&#xF3;digo" required>
                        </label>
                    </div>
                    <div class="padding">
                        <div ng-show="form.$submitted || form.code.$touched">
                            <div ng-show="form.code.$error.required" class="error">Se requiere el C&#xF3;digo.</div>
                        </div>
                        <button type="submit" class="button button-block button-gray" ng-click="form.$invalid || download(code)">Validar</button>
                    </div>
                </form>
            </div>
            <div ng-show="showProgress">
                <progress value="{{downloadProgress}}" max="100"></progress>
                <div class="text-center">{{downloadProgress}} % descargado</div> 
            </div>
        </ion-content>
    </ion-pane>
</body>

</html>